<!-- side nav -->
<div class="h-dvh w-[70px] px-2 py-10 bg-[#EDF5FA] shadow-nav flex-col items-center sticky top-0 left-0 hidden lg:flex">
    <!-- profile -->
    <div class="flex items-center justify-center">
        <img src="./imgs/profile.png" alt="Profile Picture" class="h-12 w-12 rounded-full">
    </div>

    <!-- nav item -->
    <div class="flex flex-col gap-10 my-16">
        <a href="#" id="home-nav-desktop" onclick="backToList();"
            class="flex items-center justify-center p-2 rounded-full bg-[#DBECF8] shadow-inner">
            <img src="./imgs/icon/home.svg" alt="Home Icon" class="h-7 w-7">
        </a>
        <a href="#" id="blog-nav-desktop"
            class="flex items-center justify-center p-2 rounded-full hover:bg-[#e8f6ff] hover:shadow-inner ease-in-out duration-200">
            <img src="./imgs/icon/blog.svg" alt="Blog Icon" class="h-7 w-7">
        </a>
        <a href="#" id="note-nav-desktop"
            class="flex items-center justify-center p-2 rounded-full hover:bg-[#e8f6ff] hover:shadow-inner ease-in-out duration-200">
            <img src="./imgs/icon/note.svg" alt="Note Icon" class="h-7 w-7">
        </a>
    </div>

    <!-- settings button -->
    <a href="#"
        class="flex items-center justify-center p-2 rounded-full mt-auto hover:bg-[#e8f6ff] hover:shadow-inner ease-in-out duration-200">
        <img src="./imgs/icon/settings.svg" alt="Settings Icon" class="h-7 w-7">
    </a>
</div>