@import "tailwindcss";

@theme {
  --color-base: #EDF5FA;
  --shadow-nav: 0 4px 60px 0 rgba(45, 115, 154, 0.5);
  --shadow-inner: inset 5px 5px 10px 0 rgba(118, 145, 175, 0.2);
  --font-sans: var(--font-noto-sans), var(--font-noto-sans-tc);
  --default-font-family: var(--font-noto-sans), var(--font-noto-sans-tc);
}

* {
  font-family: var(--font-noto-sans), var(--font-noto-sans-tc) !important;
  font-optical-sizing: auto;
  font-style: normal;
}